---
// button script go here
---

<header>
  <div>
    <h1>Lovett Electric</h1>
    <button>Book estimate</button>
  </div>
</header>

<style>
  header {
    background-color: darkslategray;
    padding: 1rem;
    box-shadow: 0px 1px 5px 0px;
  }

  div {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: auto;
  }

  h1 {
    margin: 0;
    color: white;
  }

  button {
    margin-left: auto;
    transition: 200ms;
    border-radius: 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: aqua;
  }
</style>